<nav class="navbar navbar-default navbar-fixed-top header div_shadow">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img src="./styles/images/logo.png" style="width:90px; margin-left: 16px;"><!-- 
      <a class="navbar-brand logo" href="#">{{TC_CONSTANTS.BRAND}}</a> -->
    </div>
  </div>
</nav>